[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
itchat = "*"
pyecharts = "*"
lxml = "*"
requests = "*"
snapshot-selenium = "*"
jieba = "*"
wordcloud = "*"
selenium = "==4.0.0a3"

[requires]
python_version = "3.7"
